@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --togglelight: #FC3A3A;
    --togglebuttons: #2C363F;
    --light: none;
    --dark: initial;
}

body{
    background-color: var(--togglelight);
}

.home-container{
    flex-direction: column;
    display: flex;
}

.poketrace-header{
    color: #F2F5EA;
    font-size: 128px;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 40px;
}

.gamemode-header{
    color: #F2F5EA;
    font-size: 64px;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
}

.difficulty-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.spacing{
    margin-bottom: 20px;
}

.difficulty-button{
    cursor: pointer;
    background-color: var(--togglebuttons);
    color: #F2F5EA;
    padding: 20px;
    border: none;
    width: 16vw;
    min-width: 200px;
    border-radius: 15px;
    font-family: "Lilita One", sans-serif;
    font-size: 20px;
}

.info-icon{
    padding-left: 15px;
    width: 36px;
    cursor: pointer;
}

.dark-icon{
    display: var(--dark);
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    left: 0;
    top: 0;
}

.dark-icon:hover{
    filter: invert(82%) sepia(100%) saturate(3927%) hue-rotate(358deg) brightness(107%) contrast(101%);
}

.light-icon{
    display: var(--light);
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
}

.light-icon:hover{
    filter: invert(0%) sepia(51%) saturate(0%) hue-rotate(130deg) brightness(95%) contrast(104%);
}

.modal-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    text-align: center;
    top: 15%;
    left: 35%;
    right: 35%;
    min-width: fit-content;
    overflow-y: auto;
    background-color: #dddddd;
    border-radius: 15px;
}

.howtoplay{
    font-family: "Lilita One", sans-serif;
    padding-bottom: 20px;
}

.bullet li{
    font-family: "Lilita One", sans-serif;
    list-style-type: none;
    margin-bottom: 40px;
    padding-right: 40px;
    font-size: 16px;
    overflow-y: auto;
}